header{
text-align: center;
padding: 20px;
background-color: var(--bs-secondary-bg);
}
footer{
text-align: center;
padding: 10px;
font-size: 80%;
letter-spacing: 3px;
border-top: 2px solid var(--bs-secondary);
}
main{
    padding: 20px;
}